MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MSQL_DATABASE=
MSQL_DIALECT=
ADMIN=

CLOUDINARY_API=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_SECRET=

ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

JWT_COOKIE_EXPIRE=

JWT_EXPIRE=

JWT_SECRET=

LOCKOUTHOUR=

MAIL_PASS=

MAIL_SERVER=

MAIL_USER=

MAIL_PORT=

MAX_ATTEMPT=

SERVER_ROOT_URI=

PORT= # comment this out before push


TOKEN=

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_S3_BUCKET_NAME=

CAMPAIGN_NAME=c

NOTIFICATION_QUEUE=

REDISCLOUD_URL=

NODE_ENV=development
